body{
    margin: 0px;
}

nav {
    background-color: #9E8672;
}

.heading_page{
    font-family: "lobster";
    text-align: center;
}

ul {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0px;
    max-width: 800px;
    margin: 0px auto;
}

ul li {
    padding: 12px;
}

li a {
    color: white;
    text-decoration: none;
    font-family: 'Adobe Clean UX', sans-serif;
}

#logo {
    margin-right: auto;
}

#logo_pic {
    max-height: 50px;
}

.dropdown_container {
    position: relative;
    text-align: left;
}

.dropdown_menu {
    background-color: white;
    position: absolute;
    flex-direction: column;
    width: 150%;
    left: 0px;
    top: 75%;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.5s,
        visibility 0.5s,
        top 0.5s;
}

.dropdown_container:hover .dropdown_menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.dropdown_menu a{
    color: #9E8672;
}

.section_container {
    background-color: #9E8672;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    margin: 50px auto;
    max-width: 1200px;
}

.section_image {
    border-radius: 25px;
    margin: 25px 25px;
    object-fit: cover;
    max-height: 250px;
}

.section_text {
    color: white;
    font-family: 'Adobe Clean UX', sans-serif;;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.button{
    background-color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 25px;
    text-align: center;
    margin-right: 25px;
}

.button_link {
    text-decoration: none;
    color: #9E8672;
}

.section_text h2{
    font-family: "lobster";
}

.item {
    box-shadow: 0px 0px 3px grey;
    font-family: "lobster";
    flex-direction: column;
    justify-content: center;
    max-width: 250px;
    padding-top: 0px;
    background-color: #e1dedc;
    margin-left: 25px;
    margin-right: 25px;
}

.item_heading {
    font-family: "lobster";
    text-align: center;
}


.row_item {
    display: flex;
}
.row_item {
    justify-content: center;
}
@media screen and (max-width: 768px) {
    ul {
        flex-direction: column;
        text-align: center;
    }
    .section_container{
        flex-direction: column;
        margin: 40px;
    }
    .section_text{
        margin-top: 0px;
        padding: 20px;
    }
    .section_image{
        margin-bottom: 0px;
    }
    #logo{
        margin-right: 0px;
    }
    .row_item{
        flex-direction: column;
        align-items: center;
    }
}

