body{
    margin: 0px;
}

nav {
    background-color: #9E8672;
}

.heading_page{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

ul {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0px;
    max-width: 800px;
    margin: 0px auto;
}

ul li {
    padding: 12px;
}

li a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

#logo {
    margin-right: auto;
}

#logo_pic {
    max-height: 50px;
}

.dropdown_container {
    position: relative;
    text-align: left;
}

.dropdown_menu {
    background-color: white;
    position: absolute;
    flex-direction: column;
    width: 150%;
    left: 0px;
    top: 75%;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.5s,
        visibility 0.5s,
        top 0.5s;
}

.dropdown_container:hover .dropdown_menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.dropdown_menu a{
    color: #9E8672;
}