#header{
    color: white;
    background-color: #FA7F72;
    font-family: Arial, Helvetica, sans-serif;
}

#big_heading{
    padding: 40px;
    text-align: center;
}
#nav{
    padding-left: 20px;
    padding-bottom: 20px;
}
.link{
    color: white;
    font-size: 12px;
    text-decoration: none;
    margin: 5px

}
#main{
    background-color: #F0F8FF;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 10px;
}
#medium_heading{
    color: #FA7F72;

}
.card{
    background-color: white;
    border: 2px solid #FA7F72;
    box-shadow: 2px 2px 2px grey;
    margin: 20px;
    padding:15px;
}
#image_container{
    float: left;
    margin-right: 30px;
    margin-left: 10px;
}
#card_image{
    max-width: 150px;
}
#caption{
    font-size: 10px;
}
.small_heading{
    font-size: 15px;
}
hr{
    border: none;
    border-bottom: 2px solid black
}
#footer{
    background-color: #FA7F72;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding: 20px;
    text-align: center;
    
}