/* Task 8 - Write your code solution below */
    #t8_box1 {
        margin: 50px 0px;
    }

/* Task 9 - Write your code solution below */

    #t9_box1 {
        margin: 50px 50px;
    }

/* Task 10 - Write your code solution below */
    
    #t10_box5 {
        margin-left: 150px;
    }

/* Task 11 - Write your code solution below */
    #margin_top {
        margin-top: 100px
    }

/* Task 12 - Write your code solution below */

    #t12_container {
        justify-content: space-between;
    }

/* Task 13 - Write your code solution below */

    #t13_box3 {
    margin-left: 250px
   }

