/*GRID STYLE*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
}

/* NAV STYLE */
#logo {
    max-width: 60px;
}

#hero_content nav li {
    padding: 24px 36px;
}

#hero_content nav{
    display: flex;
    align-items: flex-end;
    
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav img {
    width: 60px;
}

nav a {
    display: inline-block;
    color: white;
    justify-content: flex-end;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.5s;
}

nav a:hover {
    background-color: rgb(93, 92, 92);
}

#hero_content {
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../Images/hulu-bg.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment:local;
    flex-direction: column;
    color: white;
}

#button input{
    background-color: #1DE783;
    border: none;
    border-radius: 5px;
    color: black;
    padding: 10px 300px;
    margin-top: 30px;
    font-weight: 600;
}

#hero_content img {
    margin-bottom: 20px;
}

#basics {
    font-size: 15px;
    color: #1DE783;
    margin-bottom: 20px;
    font-weight: 600;
}

#bundle_pic {
    max-width: 350px;
    margin-left: 40px;
}

#banner_type {
    font-weight:300;
    opacity: 100%;
}

#transparent_background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    padding: 20px 20px;
    margin: 0;
    width: 100%;
}

#bottom_text {
    text-align: left;
    margin-left: 20px;
    margin-right: 70px;
}

#bundle_button input{
    align-items: center;
    border: 2px solid white;
    border-radius: 3px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-weight: 600;
}

a {
    color: white;
}

#links {
    margin-top: 20px;
    margin-bottom: 20px;
}
#terms_apply_main {
    font-size: 12px;
}

#terms_apply_bundle{
    font-size: 12px;
    margin-top: 10px;
}

#hulu_link {
    font-size: 15px;
}

#banner_type {
    font-size: 25px;
}

#bundle_button{
    margin-right: 40px;
    justify-content: flex-end;
}

#four_cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 900px;
}

#tv{
    background-image: url(../Images/bobsburgers.jpeg);
    background-position: center;
    background-size: contain;
}

#movies {
    background-image: url(../Images/bobsburgers.jpeg);
    background-position: center;
    background-size: contain;
}

#originals {
    background-image: url(../Images/bobsburgers.jpeg);
    background-position: center;
    background-size: contain;    
}

#premiums {
    background-image: url(../Images/bobsburgers.jpeg);
    background-position: center;
    background-size: contain;
}

 #card_header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
 }