body{
    font-family: 'montserrat';
    background-color: #F0F3F5;
}

#logo_id {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

#flex_container {
    display: flex;
    max-width: 450px;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 4px grey;
}

#name {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: auto;
}
fieldset {
    border-radius: 0px;
    border: none;
    margin: auto;

}

#create_account{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#quick {
    text-align: center;
    color: #90959D;

}
#first_name_flex {
    display: inline-flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

#first_name_flex input{
    padding: 5px 5px;
    border-radius: 6px;
    border: 1px solid #999999;
}

#last_name_flex {
    display: inline-flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 20px;
}

#last_name_flex input{
   padding: 5px 5px;
    border-radius: 6px;
    border: 1px solid #999999;
}

#contact_flex {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
}

#contact_flex input{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #999999;
} 
#new_password_flex {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
}

#new_password_flex input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #999999;
}

#birthday_flex {
    display: flex;
    flex-direction: row;
    justify-content:  space-between;
}

#birthday_name_flex {
    display: flex;
    margin: -15px 20px;
}
#gender_flex {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}

#gender_choice_flex {
    display: flex;
    margin: -15px 20px;
}

#male {
    border: 1px solid #999999;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px 10px
}

#female {
    border: 1px solid #999999;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px 10px
}

#custom {
    border: 1px solid  #999999;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px 10px
}
.birthday {
    display: flex;
    padding: 20px;
    top: 10px;
}

#year_flex option{
    padding: 10px;

}

#button {
    display: flex;
    justify-content: center;
}

#button input {
    background-color: #00A401;
    border: none;
    border-radius: 13px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 65px;
}

.fine_print {
    font-size:10px;
    margin: 20px;
}

a {
    text-decoration: none;
}

#already {
    text-align: center;
    font-size: 10px;
    color: #1878F2;
}
select {
    font-family: 'montserrat';
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: -15px 0px;
    padding: 5px 20px;
    border-radius: 6px;
    border: 1px solid #999999;
}