@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
/* GRID */
#site_grid {
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
    grid-auto-rows: minmax(50 px,auto);
    grid-template-areas: 
    "nav_area nav_area nav_area"
    "hero_area hero_area hero_area"
    ". design_fields_area ."
    ". check_out_area ."
    ". footer_area .";
}

nav{
    grid-area: nav_area;
}

#hero {
    grid-area: hero_area;
}

#design_fileds {
    grid-area: design_fields_area;
}

#check_out_work{
    grid-area: check_out_area;
}
footer{
    grid-area: footer_area;
}


/* NAV/FOOTER */
nav{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b8bee;
    font-family: 'montserrat';
    font-size: 12px;
    padding: 10px 0px;
}

#nav {
    display: flex;
    justify-content: center;
    list-style-type: none; 
}

.nav_link{
    margin: 0px 24px;
}

#kb_full_logo {
    margin: 0 24px;
}
footer {
    margin: 48px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer_nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;
}

.nav_footer {
    list-style-type: none;
    display: flex;
    text-decoration: none;
    justify-content: center;
}

.nav_footer a{
    text-decoration: none;
    color: black;
}

#footer_logo{
    text-align: center;
}

/* TEXT STYLES */
nav a {
    text-decoration: none;
    color: white;
}

/* HERO STYLES */
#hero {
    min-height: 500px;
    background-color:#2b8bee;
    background-position: center;
    background-size: cover;
}

#hero_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    text-align: center;
}

#hero_content a{
    text-decoration: none;
    color: white;
    font-family: 'montserrat',sans serif;
}

#hero_content h1{
    font-weight: 100;
    font-size: 48px;
}

#hero_content h4 {
    font-weight: 100;
}

/* DESIGN FIELD STYLES */

#design_fields {
    display: flex;
    margin-top: 50px;
}

.design_buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 300px;
    box-shadow: 2px 2px 5px grey;
    border-radius: 10px;
    margin: 0 10px;
}

.design_buttons a{
    justify-content: flex-end;
}

.design_buttons h3{
    margin-left: 15px;
    margin-top: 15px;
}

.design_buttons p{
    margin: 0 15px;
}

.design_button_nav {
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: #2b8bee;
    border-radius: 5px;
    margin: 20px 60px;
    padding: 8px;
    justify-content: flex-end;
}

/* CHECK OUT MY WORK */
#check_out_work {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    margin-top: 15px;
    box-shadow: 2px 2px 5px grey;
    border-radius: 5px;
    text-align: center;
    padding: 24px;
}

#check_out_work h1{
    margin-left: 15px;
    margin-top: 15px;
    font-size: 36px;
}

#check_out_work h4{
    margin-top: 0px;
    margin-left: 15px;
    font-size: 18px;
}

#have_a_look_button{
    text-decoration: none;
    background-color: #2b8bee;
    color: white;
    max-width: 150px;
    padding: 8px 16px;
    border-radius: 5px;
    margin: 15px;
}